.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bg {
  position: relative;
  width: 1300px;
  height: 800px;
}

.container-iphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  margin-top: 121px;
  margin-left: 71px;
}

.iphone-mokup {
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

.container-macbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  margin-left: 229px;
}

.macbook-mokup {
  position: absolute;
}

.container-ipad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  margin-left: 894px;
  margin-top: 63px;
  z-index: -1;
}

.ipad-mokup {
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
